---
judul: Tes Alpine JS
deskripsi: Ini adalah latihan Alpine JS
---

<!DOCTYPE html>
<html>
<head>
	<title>{{ judul }}</title>
	<meta charset="utf-8">
	<meta name="description" content="{{ deskripsi }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	{{ content | safe }}
</body>
</html>