---
judul: Tes Alpine JS
deskripsi: Ini adalah latihan Alpine JS
---

<!DOCTYPE html>
<html>
<head>
	<title>{{ judul }}</title>
	<meta charset="utf-8">
	<meta name="description" content="{{ deskripsi }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="turbolinks-cache-control" content="no-cache">
	<link rel="stylesheet" type="text/css" href="/dist/tailwind.css">
	<link rel="stylesheet" type="text/css" href="/dist/progress.css">
	<script type="text/javascript" src="/dist/turbolinks.js" defer=""></script>
	<script type="text/javascript" src="/dist/alpine.min.js"></script>
</head>
<body>
	{{ content | safe }}
</body>
</html>